.App {
  text-align: left;
  margin-left: 50px;
}

.folder {
  display: inline-block;
  margin-left: 10px;
}

.closedIcons{
  margin-left: -40px;
}
.file {
  display: inline-block;
  margin-left: 10px;
}

.indent{
  margin-left: 20px;
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}
