body{
  background-color: #FFFDFC;
  color: #00A5BF;
}

hr {
  width: 100%;
  border: 0.5px solid #00A5BF;
  margin-right: auto 0;
}

h3{
  margin-left: 100px;
}

.folderNavDiv{
  margin-left: 80px;
}

.App {
  text-align: left;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.icons{
  display: inline-block;
  margin-top: -20px;
  cursor: pointer;
}

.fileIcon {
  margin: 10px 0px 10px 20px;
}

.arrowIcon{
  margin-right: 5px;
  margin-left: 20px;
}

.folderTitle{
  display: inline-block;
  margin-left: 5px;
}

.fileTitle{
  display: inline-block;
  margin-left: 5px;
}

.indent{
  margin-left: 50px;
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
  height: 0;
  width: 0;
}

.loading{
  display: inline-block;
  margin-right:10px;
}

.loadingContainer{
  margin-left: 50px;
}

.errorContainer{
  margin-left: 50px;
}
